header {
    background-color: #f8f3e8;
}

.logo {
    max-width: 300px;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 15px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.payment {
    color: #3f4f5f;
    width: 480px;
}

.payment h5 {
    font-weight: 600;
}

.payment .title {
    font-weight: 500;
    font-size: 20px;
    margin-left: 36px;
}

.payment .subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 48px;
}

.all_buttons {
    width: 100%;
    max-width: 985px;
    margin: 0 auto;
}

.openPaymentDropdown {
    color: #000;
    padding: 30px 20px !important;
    display: block;
    background-color: white;
    outline: none;
    color: #3f4f5f !important;
    font-size: 32px !important;
    font-weight: 600 !important;
    text-align: start;
    width: 100%;
    text-align: left !important;
}

.acc-control {
    border: 1px #ccc solid !important;
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

.label {
    z-index: 20;
}

.inp {
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    outline: none !important;
}

.btn-xl {
    width: 100%;
    max-width: 300px;
    padding: 8px 10px;
}

.btn-light {
    background-color: #f8f3e8 !important;
}

.discount h2 {
    font-size: 20px;
    font-weight: 500;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
}

.discount {
    margin-top: 48px;
}

.col-lg-10 {
    width: 565px !important;
}

.dropdown {
    width: 100%;
    padding: 0 20px;
    color: #3f4f5f !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.dropdown ::placeholder {
    color: #3f4f5f !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

@media (max-width:500px) {
    .body.py-5 {
        padding-top: 0px !important;
    }

    .openPaymentDropdown {
        padding: 20px;
    }

    .title {
        margin-left: 0 !important;
    }

    .payment {
        width: 100%;
    }

    .subtitle {
        margin-left: 0 !important;
    }
}